body {
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-family: lato,sans-serif;
    font-weight: regular;
    font-size: 1em;
    text-decoration: none;
}

.h3 {
    font-weight: bold;
    font-size: 1.2em;
}

p {
    margin: 50px;
}

.main_buttons {
    margin-top: 250px;
}

.intro_teams {
    margin-top: 150px;
}

.intro {
    margin: 50px;
}

.oneintroteam {
    margin-top: 25px;
}

.b_index {
    font-family: lato,sans-serif;
    font-weight: bold;
    font-size: 1em;
    letter-spacing: 0.1em;
    text-decoration: none;
    color: #000000;
    display: inline-block;
    padding: 10px 40px 10px 40px;
    position: relative;
    border: 3px solid #000000;
    border-radius: 20px;
    margin: 10px;
}

.accept {
    font-family: lato,sans-serif;
    font-weight: bold;
    font-size: 1em;
    letter-spacing: 0.1em;
    text-decoration: none;
    color: #000000;
    background-color: #3cff00;
    display: inline-block;
    padding: 10px 40px 10px 40px;
    position: relative;
    border: 3px solid #000000;
    border-radius: 20px;
    margin: 10px;
}

.results {
    margin: 50px;
}

input {
    font-family: lato,sans-serif;
    font-weight: bold;
    font-size: 1em;
    letter-spacing: 0.1em;
    text-decoration: none;
    color: #000000;
    display: inline-block;
    padding: 10px 20px 10px 20px;
    position: relative;
    border: 3px solid #000000;
    border-radius: 20px;
    margin: 10px;
}

.input_jury {
    width: 40px;
    text-align: center;
}

.yellow_cards {
    width: 40px;
    text-align: center;
}

.teamsandjury {
    width: 40px;
    text-align: center;
}

.number-conf {
    width: 40px;
    text-align: center;
}

select {
    font-family: lato,sans-serif;
    font-weight: bold;
    font-size: 1em;
    letter-spacing: 0.1em;
    text-decoration: none;
    color: #000000;
    display: inline-block;
    padding: 10px 10px 10px 10px;
    position: relative;
    border: 3px solid #000000;
    border-radius: 20px;
    margin: 10px;
    width: 250px;
    text-align: center;
}

.jurylist {
    font-size: 0.7em;
}